.speaker-info {
    display: flex;
    flex-direction: row;
    align-items: top;
    padding:  10px;
    justify-content: space-between;
}
.speaker-avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-right:  10px;
}

.speaker-avatar img{
    height: 100%;
}
.speaker-description {
    width: 210px;
}
#searchField {
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
}
.speaker-info .name {
    font-weight: bold;
    margin-bottom: 2px;
}

.speaker-info .area {
    font-style: italic;
    font-size: 0.85em;
}