.climbers-table-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 3px;

}

.climbers-table-header > div {
    flex: 1;
}

.climbers-table-header button {
    margin-left: 5px;
}

.climbers-table-header > div:last-child {
    text-align: right;
}

.climber {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.climber > div {
    flex: 1;
}

.climber > div:last-child {
     text-align: right;
 }

.add-climber form {
    text-align: right;
    display: flex;
}

.add-climber form > div:last-child {
    flex: 1;
    text-align: right;
    margin-top: 15px;
}

.add-climber input {
    margin: 15px 45px 0px 15px;
}