header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.header-navigation {
    display: flex;
}

.header-navigation li {
    list-style-type: none;
    padding: 0px 15px;
}

.header-navigation li a {

    color: black;
}

.walls,
.climbers,
.competitions,
.questions {
    width: 1200px;
    margin: 0 auto;
}